.orderPage {
    width: 80%;
    .restaurantsList {
        display: grid;
        row-gap: 20px;
        padding: 20px 0;
    }
    .btnOrder {
        margin: 0 auto;
        padding-top: 20px;
        display: flex;
        background-color: #ed7422;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #ed7422;
        box-shadow: 0px 2px 0px 0px #f5a571;
        text-transform: uppercase;
        width: 250px;
        height: 40px;
        &:hover, &:focus, &:active {
            border-color: #55c2bb;
            background-color: #55c2bb;
            box-shadow: 0px 2px 0px 0px #8ed1cd
        }
        &:disabled {
            border-color: #8e8b88;
            background-color: #8e8b88;
            box-shadow: 0px 2px 0px 0px #bcb8e5
        }
    }
}