.restaurantItem {
    position: relative;
    display: flex;
    align-items: center;  
    color: #4d4d4d;
    .infoBlock {
        .restaurantInfo {
            font-weight: bold;
            font-size: 18px;
            color: #8e8b88;
        }
        .categorieItems {
            .menuItemsList {
                .categoryName {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }  
}